# Extrae numeros de una columna

In [6]:
import pandas as pd
import re
import numpy as np
data = {'mesclados' : ['fdgdg3', 'xvrfv4', 'fdawer43','4333fcx']}
df = pd.DataFrame(data)

In [7]:
data_num ='fdgdg3'

numero = re.search(r'\d+',data_num)
int(numero.group())

3

In [8]:
def extrac_numbers(s):
    numero = re.search(r'\d+',s)
    return int(numero.group()) if numero else np.nan

In [9]:
df['mesclados'] = df['mesclados'].apply(extrac_numbers)

In [10]:
df

   mesclados
0          3
1          4
2         43
3       4333